<link href="~/css/title_screen.css" rel="stylesheet" />
<div id="title-screen" class="noselect" unselectable="on">
    <object type="text/html" data="http://copper-gameserv.ddns.net:8123/" style="overflow: hidden" id="dynmap"></object>
    <script src="~/js/title_screen.js"></script>
    <div class="title-menu-right joystix">
        @Html.RouteLink("FORUM", "forum")
        @Html.RouteLink("SHOP", "shop")
        @Html.RouteLink("CONTACT", "contact")
    </div>
    <div class="title-menu-left" id="dynmap_button">
        <img onclick="toggleMap()" src="~/imgs/mapbutton_0.png" style="border-radius: 12px" alt="Server Map" title="Server Map"/>
    </div>
    <div class="title-text-container joystix">
        <div class="title-text">Factions PVP</div><br/>
        <div class="title-text title-text-main">Copper-gameserv.ddns.net</div><br/>
        <div class="title-text">
            <span id="title-text-online"><span style="color: chartreuse">0/40</span> online players</span>
        </div>
    </div>
    <div class="title-menu-bottom joystix">
        <a class="link-scroll" href="#about">ABOUT</a>
        @Html.RouteLink("NEWS", "news")
        @Html.RouteLink("RULES", "rules")
        @Html.RouteLink("GALLERY", "gallery")
    </div>
</div>